# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Large regenerable artefacts
*.tif
*.tmp

# Drive File Stream artefacts
.tmp.drivedownload/
.tmp.driveupload/
